@model ProfileViewModel
<div class="profile-container">
					<div>
						<span>UserName</span>
						<span>:</span>
						<span>@Model.UserName</span>
					</div>
					<div>
						<span>Password</span>
						<span>:</span>
						<span>@Model.Password</span>
					</div>
					<div>
						<span>FirstName</span>
						<span>:</span>
						<span>@Model.FirstName</span>
					</div>
					<div>
						<span>LastName</span>
						<span>:</span>
						<span>@Model.Lastname</span>
					</div>
					<div>
						<span>Gender</span>
						<span>:</span>
						<span>@Model.Gender</span>
					</div>
					<div>
						<span>Age</span>
						<span>:</span>
						<span>@Model.Age</span>
					</div>
					<div>
						<span>BloodGroup</span>
						<span>:</span>
						<span>@Model.BloodGroup</span>
					</div>
					<div>
						<span>Email</span>
						<span>:</span>
						<span>@Model.Email</span>
					</div>
					<div>
						<span>MobileNumber</span>
						<span>:</span>
						<span>@Model.MobileNumber</span>
					</div>
					<div>
						<span>Country</span>
						<span>:</span>
						<span>@Model.Country</span>
					</div>
					<div>
						<span>State</span>
						<span>:</span>
						<span>@Model.State</span>
					</div>
					<div>
						<span>District</span>
						<span>:</span>
						<span>@Model.District</span>
					</div>
					<div>
						<span>LastDonatedDate</span>
						<span>:</span>
						<span>@Model.LastDonatedDate</span>
					</div>
				</div>