@model ProfileViewModel;
@{
    ViewData["Title"] = "MyProfile";
}
<head>
    <title>@ViewData["Title"] - KurudhiPortal</title>
	<link rel="stylesheet" href="~/css/myprofile.css"/>
	<script src="~/js/myprofile.js"></script>
</head>
<body>
    <section>
	<div class="container-fluid">
		<div class="row profile-row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
				@*<partial name="_MyProfile"/>*@
				<div class="profile-container">
					<form id="profile-form">
                        <div class="header-text">
                            <h2>My Profile</h2>
                        </div>
                        <div class="edit-btn">
							  <button type="button" class="btn profile-btn">Edit Profile</button>
                              <i class="bi bi-pencil"></i>
						</div>
                <div class="form-group row task">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="text"  class="form-control" id="username" name="username" placeholder="user name" tabindex="1" value="@Model.UserName" readonly>
                      <label for="username">User Name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="password" name="password" placeholder="password" tabindex="2" value="@Model.Password" readonly>
                      <label for="password">Password</label>
                    </div>
                </div>                  
            </div>
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="first name" tabindex="3" value="@Model.FirstName" readonly>
                      <label for="firstname">First Name</label>
                    </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="last name" tabindex="4" value="@Model.Lastname" readonly>
                      <label for="lastname">Last Name</label>
                    </div>
                    </div>
                </div>
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="gender" id="gender" aria-label="Floating label select example" tabindex="5" disabled>
                                    <option value="">Gender</option>
                                    @foreach(var gender in ViewBag.gender)
                                            {
                                                if(@gender == "Male")
                                                {
                                                    <option value="@gender" selected>@gender</option>
                                                }
                                                else
                                                {
                                                    <option value="@gender">@gender</option>
                                                }
                                            }
                              </select>
                              <label for="gender">Select Gender</label>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12" >
                        <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="age" name="age" placeholder="age" tabindex="6" value="@Model.Age" readonly>
                      <label for="age">Age</label>
                    </div>
                    </div>
                       
                </div> 
                <div class="form-group row task">
                     <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="bloodgroup" id="bloodgroup" aria-label="Floating label select example" tabindex="7" disabled>
                                  <option value="">Blood Group</option>
                                    @foreach(var bloodgroup in ViewBag.bloodgroup)
                                            {
                                                if(@bloodgroup == "a+")
                                                {
                                                    <option value="@bloodgroup" selected>@bloodgroup</option>
                                                }
                                                else
                                                {
                                                    <option value="@bloodgroup">@bloodgroup</option>
                                                }

                                            }
                              </select>
                              <label for="bloodgroup">Select Blood Group</label>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="email" name="email" placeholder="email" tabindex="8" value="@Model.Email" readonly>
                      <label for="email">Email</label>
                    </div>
                    </div>     
                </div>        
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="mobilenumber" name="mobilenumber" placeholder="mobile number" tabindex="9" value="@Model.MobileNumber" readonly>
                      <label for="mobilenumber">Mobile Number</label>
                    </div>
                    </div> 
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                              <select class="form-select" name="country" id="country" aria-label="Floating label select example" tabindex="10" disabled>
                                  <option value="">Country</option>
                                  @*<option value="India">India</option>*@
                                            @foreach(var country in ViewBag.country)
                                            {
                                                if(@country == "India")
                                                {
                                                    <option value="@country" selected>@country</option>
                                                }
                                                else
                                                {
                                                    <option value="@country">@country</option>
                                                }
                                            }
                              </select>
                              <label for="country">Country</label>
                            </div>
                    </div>
                                  
                </div>
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="state" id="state" aria-label="Floating label select example" tabindex="11" disabled>
                                  <option value="">Select State</option>
                                            @foreach(var state in ViewBag.state)
                                            {
                                                if(@state == "TamilNadu")
                                                {
                                                    <option value="@state" selected>@state</option>
                                                }
                                                else
                                                {
                                                    <option value="@state">@state</option>
                                                }
                                            }
                              </select>
                              <label for="state">Select State</label>
                          </div>
                    </div>    
                    <div class="col-12 col-md-6 col-sm-12 div-container">
                          <div class="form-floating">
                              <select class="form-select" name="district" id="district" aria-label="Floating label select example" tabindex="12" disabled>
                                  <option value="">Select District</option>
                                    @foreach( var district in ViewBag.District)
                                    {
                                                if(@district == "Chennai")
                                                {
                                                    <option value="@district" selected>@district</option>
                                                }
                                                else
                                                {
                                                    <option value="@district">@district</option>
                                                }
                                            }
                              </select>
                              <label for="district">Select District</label>
                            </div>
                    </div>                    
                </div>
                 <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="date" class="form-control" id="lastdonatedate" name="lastdonatedate" placeholder="last donate date" tabindex="13">
                      <label for="mobilenumber">Last Donate Date</label>
                    </div>
                    </div>       
                </div>
                <div class="save-btn">
					<button type="submit" class="btn profile-save-btn">Save Profile</button>
				</div>
            </form>
            <ul>
                            
                        </ul>
				</div>
			</div>
		</div>
	</div>
</section>
</body>


