@model ProfileViewModel;
@{
    ViewData["Title"] = "MyProfile";
}
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KurudhiPortal</title>
    <link rel="icon" type="image/x-icon" href="~/images/NTK_KURUDHI_Logo.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.new.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="~/css/myprofile.css"/>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/myprofile.js"></script>
</head>
<body>
    <section>
	<div class="container-fluid">
		<div class="row profile-row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
				@*<partial name="_MyProfile"/>*@
				<div class="profile-container">
					@*<form id="profile-form">
						<div class="edit-btn">
							  <button type="button" class="btn profile-btn">Edit Profile</button>
						  </div>
						  <div class="form-group row">
							<label for="userName" class="col-sm-2 col-form-label">UserName</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="userName" id="userName" value="@Model.UserName">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="password" class="col-sm-2 col-form-label">Password</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="password" id="password" value="@Model.Password">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="firstName" class="col-sm-2 col-form-label">FirstName</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="firstName" id="firstName" value="@Model.FirstName">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="lastName" class="col-sm-2 col-form-label">LastName</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="lastName" id="lastName" value="@Model.Lastname">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="gender" class="col-sm-2 col-form-label">Gender</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="gender" id="gender" value="@Model.Gender">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="age" class="col-sm-2 col-form-label">Age</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="age" id="age" value="@Model.Age">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="bloodGroup" class="col-sm-2 col-form-label">BloodGroup</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="bloodGroup" id="bloodGroup" value="@Model.BloodGroup">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="email" class="col-sm-2 col-form-label">Email</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="email" id="email" value="@Model.Email">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
							<div class="form-group row">
							<label for="mobileNumber" class="col-sm-2 col-form-label">MobileNumber</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="mobileNumber" id="mobileNumber" value="@Model.MobileNumber">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="country" class="col-sm-2 col-form-label">Country</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="country" id="country" value="@Model.Country">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="district" class="col-sm-2 col-form-label">District</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="district" id="district" value="@Model.District">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="state" class="col-sm-2 col-form-label">State</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="text" readonly class="form-control-plaintext" name="state" id="state" value="@Model.State">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="lastDonatedDate" class="col-sm-2 col-form-label user-label">LastDonatedDate</label>
							<div class="col-sm-7 col-7 col-md-5 input-box">
							  <input type="date" readonly class="form-control-plaintext user-input" name="lastDonatedDate" id="lastDonatedDate" value="@Model.LastDonatedDate">
							  <i class="bi bi-pencil"></i>
							</div>
						  </div>
						  <div class="save-btn">
							  <button type="submit" class="btn profile-save-btn">Save Profile</button>
						  </div>
					</form>*@
					<form id="profile-form">
                        <div class="edit-btn">
							  <button type="button" class="btn profile-btn">Edit Profile</button>
                              <i class="bi bi-pencil"></i>
						</div>
                <div class="form-group row task">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="text"  class="form-control" id="username" name="username" placeholder="user name" tabindex="1" value="@Model.UserName" readonly>
                      <label for="username">User Name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="password" name="password" placeholder="password" tabindex="2" value="@Model.Password" readonly>
                      <label for="password">Password</label>
                    </div>
                </div>                  
            </div>
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="first name" tabindex="3" value="@Model.FirstName" readonly>
                      <label for="firstname">First Name</label>
                    </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="last name" tabindex="4" value="@Model.Lastname" readonly>
                      <label for="lastname">Last Name</label>
                    </div>
                    </div>
                </div>
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="gender" id="gender" aria-label="Floating label select example" tabindex="5" disabled>
                                    <option value="">Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Ohers">Ohers</option>
                              </select>
                              <label for="gender">Select Gender</label>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12" >
                        <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="age" name="age" placeholder="age" tabindex="6" value="@Model.Age" readonly>
                      <label for="age">Age</label>
                    </div>
                    </div>
                       
                </div> 
                <div class="form-group row task">
                     <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="bloodgroup" id="bloodgroup" aria-label="Floating label select example" tabindex="7" disabled>
                                    <option value="">Blood Group</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="b+">b+</option>
                                    <option value="b-">b-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                              </select>
                              <label for="bloodgroup">Select Blood Group</label>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="email" name="email" placeholder="email" tabindex="8" value="@Model.Email" readonly>
                      <label for="email">Email</label>
                    </div>
                    </div>     
                </div>        
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="mobilenumber" name="mobilenumber" placeholder="mobile number" tabindex="9" value="@Model.MobileNumber" readonly>
                      <label for="mobilenumber">Mobile Number</label>
                    </div>
                    </div> 
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                              <select class="form-select" name="country" id="country" aria-label="Floating label select example" tabindex="10" disabled>
                                  <option value="">Country</option>
                                  <option value="India">India</option>
                              </select>
                              <label for="country">Country</label>
                            </div>
                    </div>
                                  
                </div>
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="state" id="state" aria-label="Floating label select example" tabindex="11" disabled>
                                  <option value="">Select State</option>
                                <option value="TamilNadu">Tamil Nadu</option>
                                <option value="Kerla">Kerla</option>
                                <option value="Delhi">Delhi</option>
                                <option value="AndraPradesh">Andra Pradesh</option>
                              </select>
                              <label for="state">Select State</label>
                          </div>
                    </div>    
                    <div class="col-12 col-md-6 col-sm-12 div-container">
                          <div class="form-floating">
                              <select class="form-select" name="district" id="district" aria-label="Floating label select example" tabindex="12" disabled>
                                    <option value="">District</option>
                                    <option value="Ariyalur">Ariyalur</option>
                                    <option value="Chengalpattu">Chengalpattu</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Coimbatore">Coimbatore</option>
                                    <option value="Cuddalore">Cuddalore</option>
                                    <option value="Dharmapuri">Dharmapuri</option>
                                    <option value="Dindigul">Dindigul</option>
                                    <option value="Erode">Erode</option>
                                    <option value="Kallakurichi">Kallakurichi</option>
                                    <option value="Kancheepuram">Kancheepuram</option>
                                    <option value="Karur">Karur</option>
                                    <option value="Krishnagiri">Krishnagiri</option>
                                    <option value="Madurai">Madurai</option>
                              </select>
                              <label for="district">Select District</label>
                            </div>
                    </div>                    
                </div>
                 <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="date" class="form-control" id="lastdonatedate" name="lastdonatedate" placeholder="last donate date" tabindex="13">
                      <label for="mobilenumber">Last Donate Date</label>
                    </div>
                    </div>       
                </div>
                <div class="save-btn">
					<button type="submit" class="btn profile-save-btn">Save Profile</button>
				</div>
            </form>
				</div>
			</div>
		</div>
	</div>
</section>
</body>


